<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Donegal Flights</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <!-- Get myDetails from home page choice using data binding -->
    <ion-item id="location">Current Location: {{myDetails}}</ion-item>
    <ion-item>Flights from Europe from €100</ion-item>
    <ion-item>Flights from United Kingdom from €30</ion-item>
    <ion-item>Flights from USA from €400</ion-item>
  </ion-list>

</ion-content>
