<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>Athens</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- routerLinks to pages and image of flag -->
  <img src="../assets/img/greekFlag.jpg">
  <ion-list>
    <ion-item>Choose an Option Below:</ion-item>
    <ion-item [routerLink]="['/athens-attractions']" routerDirection="forward">Attractions & GPS</ion-item>
    <ion-item [routerLink]="['/athens-flights']" routerDirection="forward">Flights</ion-item>
    <ion-item [routerLink]="['/athens-weather']" routerDirection="forward">Weather</ion-item>
  </ion-list>

</ion-content>
